<a href="https://colab.research.google.com/github/haaaram/MS-AIschool/blob/main/01.Python/04_Control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 조건에 따라서 다른 결과를 얻기 위해서 사용하는 것

value = 10
if value > 5:
  print('value is bigger than 5')

value is bigger than 5

In [ ]:
money = 10
if money > 100:
  item = 'apple'
else:
  item = 'banana'

print(item)

banana

In [ ]:
# 성적 처리

score = int(input('input your score:'))

if 90 <= score <= 100:
  grade = 'A'
elif 80 <= score < 90:
  grade = 'B'
elif 70 <= score < 80:
  grade = 'C'
elif 60 <= score < 70:
  grade = 'D'
else:
  grade = 'F'

print('Your score is ' + str(score))
print('Your grade is ' + grade)

input your score:79
Your score is 79
Your grade is C

In [ ]:
# 조건식의 참과 거짓

print(bool(True))
print(bool(False))
print(bool(123))
print(bool(0))
print(bool(-1))
print(bool('apple'))
print(bool(''))
print(bool())

True
False
True
False
True
True
False
False

In [ ]:
# 반복문

value = 5
while value > 0:
  print(value)
  value -= 1

5
4
3
2
1

In [ ]:
l = ['Apple', 100, 15.23]
for i in l:
  print(i)

Apple
100
15.23

In [ ]:
loop1 = [2,3,4,5,6,7,8,9]
loop2 = [1,2,3,4,5,6,7,8,9]

for i in loop1:
  print('{0}단---------'.format(i))
  for j in loop2:
    print("{0} * {1} = {2}".format(i, j, i * j))

In [ ]:
L =[1,2,3,4,5,6,7,8,9,10]

In [ ]:
#break문을 사용하면 반복문을 중간에 멈출 수 있다.
for i in L:
  if i>5:
    break
  print('Item: {0}'.format(i))

Item: 1
Item: 2
Item: 3
Item: 4
Item: 5

In [ ]:
#continue문을 사용하면 해당 반복만 건너뛴다.
for i in L:
  if i % 2 == 0:
    continue
  print('Item {0}'.format(i))

Item 1
Item 3
Item 5
Item 7
Item 9

In [ ]:
# range 함수를 사용하면 특정 범위의 숫자를 생성할 수 있다.
print(list(range(10)))
print(list(range(5, 10)))
print(list(range(10, 0, -1)))
print(list(range(0, 10, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[0, 2, 4, 6, 8]

In [ ]:
L = ['Apple', 'Orange', 'Banana']

for i in L:
  print(i)

Apple
Orange
Banana

In [ ]:
l = list(range(1,6))

In [ ]:
#[print(i) for i in l]
[i**2 for i in l]

[1, 4, 9, 16, 25]